@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #367258;
  --color-secondary: #ca4ab6;
  --color-dark: #01161e;

  --color-primary-hover: #26503e;
  --color-primary-disable: #1b392c;
  --color-secondary-hover: #8d347f;
  --color-secondary-hover: #65255b;

  --font-serif:
    "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --font-heading:
    "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    Segoe UI Symbol, "Noto Color Emoji";

  --font-sans: var(--font-heading);
}

html {
  font-family: var(--font-serif);
}
