/* .custom-modal {
  --ac-modal-background-color: #020618;
  color: #fff;
} */

.ac-modal-close {
  width: 48px !important;
  height: 48px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ac-modal-close svg {
  width: 48px !important;
  height: 48px !important;
}
