---
import { Icon } from "astro-icon/components";

import mastheadData from "@/data/masthead.json";
import Button from "../ui/Button.astro";
---

<div class="swiper h-screen" data-aos="fade-in">
  <div class="swiper-wrapper">
    {
      mastheadData.map((item) => {
        const { bgImage, title, description, url } = item;
        return (
          <div
            class="swiper-slide relative bg-cover bg-center bg-no-repeat"
            style={{ backgroundImage: `url(/images/masthead/${bgImage})` }}
          >
            <div class="from-dark/90 via-dark/50 to-dark/30 absolute inset-0 bg-linear-to-b from-0% via-60% to-100%" />

            <div class="relative z-10 mx-auto flex h-full w-2/3 max-w-180 flex-col items-center justify-center">
              <p>
                <Icon name="fa7-regular:house" size={64} class="mb-3" />
              </p>
              <h1 class="font-heading text-center text-3xl font-bold">
                {title}
              </h1>
              <h2 class="text-center text-2xl font-light">{description}</h2>
              <Button href={url} size="big" class="mt-6">
                <Icon name="fa7-solid:angles-down" size={16} class="mr-1" />
                Continue
                <Icon name="fa7-solid:angles-down" size={16} class="ml-1" />
              </Button>
            </div>
          </div>
        );
      })
    }
  </div>

  <!-- Navigation -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <!-- Pagination -->
  <div class="swiper-pagination"></div>
</div>
