---
import Section from "@/components/shared/Section.astro";
import LayoutInnerPages from "../layouts/LayoutInnerPages.astro";
import Button from "@/components/ui/Button.astro";
import Footer from "@/components/layout/Footer.astro";
import { Icon } from "astro-icon/components";
---

<LayoutInnerPages title="404" description="Page Not Found">
  <Section
    title="404"
    subtitle="Page Not Found"
    id="404"
    darkmode
    fullHeight
    bgColor="bg-slate-950"
  >
    <Button href="/"
      ><Icon name="fa7-solid:arrow-left" size={16} class="mr-1" />Go Back</Button
    >
  </Section>
</LayoutInnerPages>
