---
import BaseScripts from "@/components/layout/BaseScripts.astro";
import { SITE_CONFIG } from "@/config/site";

import bandData from "@/data/band.json";
import BaseHead from "@/components/layout/BaseHead.astro";

const { title, description, image = bandData.og_image } = Astro.props;
---

<html lang={SITE_CONFIG.locale}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <slot />
    <BaseScripts />
  </body>
</html>
