---
import { SITE_CONFIG } from "@/config/site";

import Navigation from "@/components/layout/Navigation.astro";
import BaseHead from "@/components/layout/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";

import bandData from "@/data/band.json";

const { title, description, image = bandData.og_image } = Astro.props;
---

<html lang={SITE_CONFIG.locale}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body id="top">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
